:root {
  --color-primary: #7F58DE;
  --color-secondary-lightMode: #319795;
  --color-secondary-darkMode: #4FD1C5

  /* Dark  */
  --darkMode-textColor: #FFFFFF;
  --darkMode-backgroundColor: #1A202C;

  /* Light  */
  --lightMode-textColor: #2D3748;
  --lightMode-backgroundColor: #FFFFFF;
}

body {
  background: white;
  color: var(--lightMode-textColor);
}

body.dark {
  background: var(--darkMode-backgroundColor);
  color: var(--darkMode-textColor);

}

header button {
  background: transparent;
  border: none;
}

